/* App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #333;
  color: #fff;
}

.SearchList {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #444;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header {
  margin-bottom: 20px;
}

header h1 {
  font-size: 24px;
  margin: 0;
  color: #fff;
}

header form {
  display: flex;
  align-items: center;
}

header input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #555;
  color: #fff;
}

header button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

header button[type="submit"] {
  background-color: #007bff;
  color: white;
  margin-right: 10px;
}

header button[type="button"] {
  background-color: #6c757d;
  color: white;
}

header button:hover {
  opacity: 0.9;
}

header form input[type="text"] {
  margin-right: 10px;
}

.item {
  border: 1px solid #ccc;
  padding: 16px;
  margin-bottom: 10px;
  border-radius: 8px;
  background-color: #555;
}

.details {
  margin-top: 8px;
}

.title {
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
}

.see-more-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.see-more-button:hover {
  background-color: #0056b3;
}

.switch-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.switch-container span {
  margin: 0 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.info-container {
  background-color: #444;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.map-container {
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}
