body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #333; /* Dark gray background */
  color: white; /* White text */
  font-family: Arial, sans-serif;
}

.App, .Home, .SearchList, .LocationInfo {
  background-color: #333; /* Dark gray background */
  color: white; /* White text */
  min-height: 100vh; /* Ensure the div takes full height */
  padding: 20px;
}

input, button {
  color: black; /* Black text for input and button for better readability */
}

input::placeholder {
  color: #ccc; /* Lighter placeholder color */
}

button {
  background-color: #1e90ff; /* Blue color for buttons */
  border: none;
  padding: 10px;
  cursor: pointer;
  color: white; /* White text for buttons */
}

button:hover {
  background-color: #63a4ff; /* Lighter blue on hover */
}

header {
  margin-bottom: 20px;
}

h1 {
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  align-items: center;
}

input {
  margin-right: 10px;
  padding: 5px;
}

.image-placeholder-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.image-placeholder {
  background-color: #999; /* Light gray color */
  width: 100%;
  max-width: 300px; /* Adjust size as needed */
  height: 200px; /* Adjust size as needed */
  border-radius: 5px;
}

.location-item {
  margin: 10px 0;
  border-bottom: 1px solid #444; /* Separate each item with a border */
  padding-bottom: 10px; /* Add some padding below each item */
}

.location-title {
  color: white; /* White color for the title */
  font-weight: bold;
  display: block; /* Make the title block-level for better layout */
}

.location-details {
  margin-top: 5px;
}

.location-details p {
  margin: 2px 0; /* Reduce margin for detail lines */
}

.see-more-button {
  background-color: #1e90ff; /* Blue color for the button */
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: white; /* White text for the button */
  margin-top: 5px; /* Space between the button and details */
}

.see-more-button:hover {
  background-color: #63a4ff; /* Lighter blue on hover */
}

.button-container {
  position: absolute;
  top: 20px;
  right: 20px;
}

.LocationInfo .button-container button {
  background-color: #1e90ff; /* Blue color for buttons */
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  color: white; /* White text for buttons */
}

.LocationInfo .button-container button:hover {
  background-color: #63a4ff; /* Lighter blue on hover */
}

.LocationInfo .description-content {
  white-space: pre-wrap; /* Preserves whitespace and wraps long lines */
  word-wrap: break-word; /* Breaks long words */
  text-indent: 20px; /* Indent the first line of the paragraph */
  margin-top: 5px; /* Space between title and content */
}

/* Styles for Login and Signup containers */
.container {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 300px;
  margin: auto;
  color: #000;
}

.container h2 {
  margin-bottom: 20px;
}

.container input, .container select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}

.container button {
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  border: none;
  color: #fff;
  cursor: pointer;
}

.container button:hover {
  background-color: #0056b3;
}

.switch {
  text-align: center;
  margin-top: 10px;
}

.switch a {
  color: #007BFF;
  text-decoration: none;
}

/* Add margin to login button */
.login-button {
  margin-left: 10px;
}
